@import "vars"
@import "fonts"
@import "libs"




body
	box-sizing: border-box
	overflow-x: hidden
	color: $default-color
	font-family: $default-font
	font-weight: 400
	line-height: 1.6
	font-size: 16px
	padding: 0
	margin: 0

ul,li
	list-style-type: none

a
	text-decoration: none
	&:hover
		text-decoration: none
		color: $accent

.img-responsive
	max-width: 100%
	height: auto
	display: block




nav
	width: 100%
	position: fixed
	top: 0
	z-index: 999
	.navigation
		background-color: $white
		padding-top: 1.5%
		padding-bottom: 1.5%
		&__phone
			display: flex
			align-items: center
			justify-content: flex-end
			span
				padding-right: 10%
				font-size: 20px
			a
				i
					color: $default-color
					font-size: 20px
					&:hover
						transition: all .3s ease
						color: $accent
header
	section
		background-size: cover
		background-position:  center
		background-repeat: no-repeat
		.welcome
			padding-top: 20%
			padding-bottom: 20%
			text-align: center
			h3
				color: $white
				font-size: 56px
				font-family: "LatoLight-ex"
				font-weight: 200
				text-transform: uppercase
			h2
				color: $white
				font-size: 140px
				font-family: "MontserratLight-ex"
				font-weight: 200
				text-transform: uppercase
			h5
				color: $white
				font-size: 21px
				font-family: "LatoRegular-ex"
				font-weight: 200
				text-transform: uppercase



.aboutme
	background-repeat: no-repeat
	background-position: 100% 100%
	padding-top: 10%
	padding-bottom: 10%
	.story
		&__short
			h3
				padding: 0 0% 0 35%
				font-family: "LatoLight-ex"
				font-size: 55px
				text-transform: uppercase
				margin-bottom: 3%
				span
					border-bottom: 1px solid $default-color
		&__meeting
			p
				padding: 0 15%
				font-size: 19px

.hamburger-box
	pr
	width: 30px
	height: 30px
	.hamburger-inner,.hamburger-inner::after,.hamburger-inner::before
		background-color: $default-color
		width: 30px
		height: 2px





#my-menu
	opacity: 0
	.mm-panel
		display: flex
		align-items: center
		justify-content: center
		text-align: center
	a
		&:hover
			text-decoration: none
			color: $accent


.hamburger
	padding: 0
	margin-right: 20px


.accordion_container

.accordion_head
	font-family: "LatoLight-ex"
	text-transform: uppercase
  background-color: transparent
  margin-bottom: 3%
	padding: 0 0 0 10%
	padding-bottom: 2%
  font-weight: 200
	&:hover
	  cursor: pointer
	b
		color: $default-color
		font-size: 20px

.accordion_body
  background: transparent
  p
		padding: 0 0% 0 10%
		font-size: 23px
    padding: 18px 5px
    margin: 0px

.plusminus
  float: right





@import "media" // Always at the end
